<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tasks.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tasks.Properties.Settings>
            <setting name="AutoStartStorage" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectElementFormSize" serializeAs="String">
                <value>400, 400</value>
            </setting>
            <setting name="SelectElementFormPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainFormPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="TemplateCategoryTitle" serializeAs="String">
                <value>Категория</value>
            </setting>
            <setting name="TemplateCategoryDescription" serializeAs="String">
                <value>Кратко описать категорию</value>
            </setting>
            <setting name="TemplateCategoryRemarks" serializeAs="String">
                <value>Описание и заметки по этой категории:


</value>
            </setting>
            <setting name="TemplateNoteTitle" serializeAs="String">
                <value>Заметка</value>
            </setting>
            <setting name="TemplateNoteDescription" serializeAs="String">
                <value>Кратко описать заметку</value>
            </setting>
            <setting name="TemplateNoteRemarks" serializeAs="String">
                <value>Добавить содержание заметки:
- Заметки предлагается использовать для описания некоторого правила при работе в данной теме.
Или другой подобной информации. Они подобны краткой инструкции Работать здесь, но полезно будет указать причину их возникновения или цель, которой они служат.

.</value>
            </setting>
            <setting name="TemplateTaskTitle" serializeAs="String">
                <value>Задача</value>
            </setting>
            <setting name="TemplateTaskDescription" serializeAs="String">
                <value>Кратко описать задачу</value>
            </setting>
            <setting name="TemplateTaskRemarks" serializeAs="String">
                <value>Описание и замечания по этой задаче:

1. Что собственно требуется сделать?
- todo:  Не забудьте добавить требуемые результаты задачи  в  поле списка целей задачи.

2. Каким образом это можно сделать?
- перечислите тут известные способы выполнения задачи.

3. Какие потребуются ресурсы?
- перечислите необходимые ресурсы  для каждого из выбранных способов выполнения задачи.
- для добычи каждого ресурса следует создать собственную подзадачу к этой задаче.

4. Какие еще причины мешают вам просто сделать уже эту работу? 
- Опишите здесь текущее состояние работы по задаче, проблемы и полезные замечания.

5. Ход выполнения работы
- можно ли описать работу над задачей  как последовательность действий?
Это пригодилось бы при выполнении подобной задачи.
- если да, создайте под-задачу для составления такого плана действий.


  
</value>
            </setting>
            <setting name="TemplateTaskResults" serializeAs="String">
                <value>Перечислите здесь результаты задачи как цели, которые необходимо достичь, и опишите их текущее состояние. 
После завершения задачи отметьте состояние каждой из перечисленных тут целей.

Цели данной задачи:
1. 
2. 
3. 

</value>
            </setting>
            <setting name="TemplateTagTitle" serializeAs="String">
                <value>Тег</value>
            </setting>
            <setting name="TemplateTagDescription" serializeAs="String">
                <value>Кратко описать тег</value>
            </setting>
            <setting name="TemplateTagRemarks" serializeAs="String">
                <value>Описания и замечания по этому тегу:

- Какие сущности  должен описывать этот тег?

- Каковы критерии присвоения некоторой сущности именно этого тега?</value>
            </setting>
        </Tasks.Properties.Settings>
    </userSettings>
</configuration>